/* Estilos de la maquetación */

body {
	background-color: #0f0;
	padding: 0;
	margin: 0;
}


header {
	background-color: #336699;
	height: 100px;
	text-align: center;
}

header h1 {
	margin-block-start: 0;
    margin-block-end: 0;
}

footer {
	background-color: black;
	color: white;
	height: 50px;
	text-align: center;
}


#idea {
	color: white;
}

.principal {
	color: red;
}

.centrado {
	text-align: center;
	color: blue;
}




