
/* Estilo para el maquetado de la página */

body {
	padding: 0px;
	margin: 0px;
	
	
}

header {
	height: 100px;
	background-color: peru;
	text-align: center;
}

header h1 {
	margin-block-start: 0;
    margin-block-end: 0;
}

footer {
	height: 50px;
	background-color: black;
	color: #fff;
	text-align: center;
	clear: both;
}

section {
	width: 70%;
	float: left;

}

aside {
	background-color: blue;
	width: 30%;
	float: left;
	border-radius: 20px 0px 0px 0px;
}

/* Menu principal de la pagina */

nav {
	background-color: #0f0;
	height: 44px;
}

nav>ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav>ul>li {
	float: left;	
}

nav>ul>li a {
	padding: 12px;
	color: blue;
	text-decoration: none;
	display: block;
}

nav a[href="#"] {
	color: white;
}

nav a:hover {
	
	border-left: solid 8px;
}

/* Estilos de texto */

.principal {
	color: red;
}

.sombra {
	text-shadow: 1px 1px 2px black;
}

#idea {
	font-size: 1.2em;
}

img + p {
	color: #333;
	font-style: italic;
	margin-top: 0px;
	margin-left: 15px;
}

img + p:before {
	content: "Figura ";
}

img + p>span:after {
	content: " - ";
}

img {
	margin: auto;
	display: block;
	width: 100%;
}

@media only screen and (max-width: 800px) {
	header {
		background-color: red;
	}
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	img {
		display: none;
	}

	img + p {
		display: none;
	}

	section {
		width: 100%;
	}
	aside {
		display: none;
	}
}
